// Styling for the download section
section.download {
    text-align: center;
    margin: 0 auto;
    background: #fdcc52;
    background: linear-gradient(#fdcc52, #fdc539);
    padding: 3em 0;

    h2 {
        font-size: 50px;
    }
}
