@import '../../shared-styles/variables';

body {
  background: #C04848;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 1em;
  font-size: 16px;

  .root {
    background: white;
    position: absolute;
    left: 10vw;
    top: 25vh;
    width: 75vw;
    margin: 0 auto;
    border: solid 1px red;
    padding: 1em;
    border-radius: 0.25em;
  }
}
